In [1]:
import pandas as pd
import numpy as np
import scipy.stats

In [2]:
filename='./baseball_stats.csv'

Welch's t-Test

In [4]:
df=pd.read_csv(filename)
df.head()

           name handedness height weight    avg   HR
0  Brandon Hyde          R     75    210  0.000    0
1   Carey Selph          R     69    175  0.277    0
2  Philip Nastu          L     74    180  0.040    0
3    Kent Hrbek          L     76    200  0.282  293
4   Bill Risley          R     74    215  0.000    0

In [5]:
righthanded=df['avg'][df['handedness']=='R']

In [6]:
lefthanded=df['avg'][df['handedness']=='L']

In [8]:
ttest_result=stats.ttest_ind(righthanded,lefthanded,equal_var=False)

In [12]:

## Check for 95% significant
if ttest_result[1] <=0.5:
    result=(False,ttest_result)
else:
    result=(True,ttest_result)
    
result

(False,
 Ttest_indResult(statistic=-9.9357022262420944, pvalue=3.8102742258887383e-23))